body{
    background-color: blueviolet;
    background-image: url('Background.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


img{
    width: 90%;

}

div.top{
    width: 75%;
    margin-bottom: -1550px;
    margin-left: 12%;
}

div.top.a{
    margin-left: 55%;
    transform: rotate(-15deg) scale(2);
}

div.top.b{
    margin-left: 40%;
    transform: rotate(-25deg) scale(1.5);
}

div.top.c{
    margin-left: 25%;
    transform: rotate(-35deg) scale(0.5);
}

div.middle{
    margin-left: auto;
    margin-right: auto;
    margin-top: -1550px;
}

div.middle.one{
    margin-top: 15%;
    transform: translate(10px, 100px);
    transform: scale(0.9);
}

div.middle.two{
    margin-top: 30%;
    transform: translate(0px, 50px);
    transform: scale(1.3);
}

div.middle.three{
    margin-top: 45%;
    transform: translate(20px,-200px);
    transform: scale(1.6);
    
}

div.bottom{
    width: 75%;
    margin-right: 15%;
    margin-top: -850px;
}

div.bottom.x{
    transform: scale(2);
}

div.bottom.y{
    transform: scale(2.5); 
}

div.bottom.z{
    transform: scale(3);   
}

div.random{
    transition: 1s;
}