/*Typefaces*/
@font-face {
    font-family: 'darkbookitalic';
    src: url('DarkBookDemoItalic.woff');
    font-family: 'darkbookreg';
    src: url('DarkBookDemoRegular.woff');
}


/*Setup*/
body{
    color: white;
    background-image: url('Web\ bg.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

div.heading{
    text-align: right;
    font-size: 150px;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    width: 98%;
    border: 10px solid #46286a; 
    padding: 10px;
    box-sizing: border-box;
}

.testimonial-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-content: center;
    border-radius: 50%;
    padding-left: 5%;
}
 
.testimonial-avatar img {
    object-fit: cover;
}
 
.testimonial-name {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'darkbookreg';
}
 
.testimonial-role {
    font-size: 15px;
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center; 
    font-weight: bolder;
}

.testimonial-text {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS';
    color: white;
    text-align: center;
}

div.link{
    font-size: 25px;
    color: white;
    font-family: 'darkbookreg';
    padding-bottom: 20px;
}
 
/* Typography */
div.largetext{
    font-size: 100px;
}

div.textmedium{
    font-size: 25px;
    line-height: 35px;
}

div.textsmall{
    font-size: 10px;
}

/* Fonts */
div.italic{
    font-family: 'darkbookitalic';
}

div.reg{
    font-family: 'darkbookreg'; 
    padding-top: 12px;
}

div.body{
    font-family: 'Trebuchet MS';
}

/* Colours */
div.white{
    color: white;
}

/* Widths */
div.w33{
    width: 33.33%;
}

div.w66{
    width: 66.66%;    
}


/*Design*/
div.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    padding-top: 12px;
}

div.container2{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    padding-top: 12px;
}

div.square{
    width:calc(33.33% - 40px);
    margin: 20px;
    height: 320px;
    background-color: #46286a;
}

/*Margins*/
div.mgt1{
    margin-top: 3%;
}

/*Alignment*/
div.align{
   align-content: center;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
