/*Typefaces*/
@font-face {
    font-family: 'dbitalic';
    src: url('DarkBookDemoItalic.woff');
    font-family: 'darkbookreg';
    src: url('DarkBookDemoRegular.woff');
}


/*Setup*/
body{
    background-color: black;
    color: white;

}

div.heading{
    font-family: 'darkbookreg';
    text-align: right;
    font-size: 150px;
    color: white;
}

/* Typography */
div.largetext{
    font-size: 100px;
    font-family: 'darkbookitalic';
}

div.textmedium{
    font-size: 25px;
    font-family: 'darkbookreg';
    line-height: 45px;

}

div.textsmall{
    font-size: 10px;
    font-family: 'darkbookreg';
}


/* Colours */
div.textcolour{
    color: blue;
}


/* Widths */
div.w33{
    width: 33.33%;
}

div.w66{
    width: 66.66%;
    text-align: right;
    margin-left: 33.33%;
}

div.w99{
    width: 99.99%;
}

/*Design*/
div.container{
    display: flex;
    flex-wrap: wrap;
}

/*Margins*/
div.mgt1{
    margin-top: 3%;
}

div.mgr{
    margin-right: 3%;
}

div.mgl{
    margin-left: 3%;
}

/*Images*/
div.logo{
    max-width: 20%;
    max-height: 20%;
    margin-right: 33.33%
}