/*Typefaces*/
@font-face {
    font-family: 'dbitalic';
    src: url('DarkBookDemoItalic.woff');
    font-family: 'darkbookreg';
    src: url('DarkBookDemoRegular.woff');
}


/*Setup*/
body{
    background-color: black;
    color: white;

}

div.heading{
    text-align: right;
    font-size: 150px;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    width: 98%;
    border: 8px solid white; 
    padding: 10px;
    box-sizing: border-box;
}

/* Typography */
div.largetext{
    font-size: 100px;
}

div.textmedium{
    font-size: 25px;
    line-height: 35px;
}

div.textsmall{
    font-size: 10px;
}

/* Fonts */
div.italic{
    font-family: 'darkbookitalic';
}

div.reg{
    font-family: 'darkbookreg'; 
    padding-top: 12px;
}

div.body{
    font-family: 'Trebuchet MS';
}

/* Colours */
div.textcolour{
    color: blue;
}


/* Widths */
div.w33{
    width: 33.33%;
}

div.w66{
    width: 66.66%;    
}


/*Design*/
div.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    padding-top: 12px;
}

div.container2{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    padding-top: 12px;
}

div.square{
    width:calc(33.33% - 40px);
    margin: 20px;
    height: 300px;
    background-color: white;
}

/*Margins*/
div.mgt1{
    margin-top: 3%;
}


/*Images*/
