/*Setup*/
body{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 21px;
}

div{
    box-sizing: border-box;
}

img{
    width: 100%;
}


div.Heading{
    font-family: dark-book-demo;
    text-align: right;
    font-size: 100px;
}

/* Typography */
div.largetext{
    font-size: 100px;
    line-height: 90px;
}

div.mediumtext{
    font-size: 50px;
    line-height: 50px;
}

div.smalltext{
    font-size: 16px;
    line-height: 18px;
}

div.serif{
    font-family: 'Times New Roman', Times, serif;
}

div.sans{
    font-family: Arial, Helvetica, sans-serif;
}

div.mono{
    font-family: 'Courier New', Courier, monospace;
}


/* Colours */
div.textcolour{
    color: blue;
}

div.textred{
    color: red;
}

div.bggray{
    background-color: gray;
}

div.bgwhite{
    background-color: white;
}

/* Widths */
div.w100{
    width: 100%;
}

div.w80{
    width: 80%;
}


div.w75{
    width: 75%;
}

div.w60{
    width: 60.666%;
}

div.w50{
    width: 50%;
}

div.w40{
    width: 40%;
}

div.w33{
    width: 33.333%;
}

div.w25{
    width: 25%;
}

div.w20{
    width: 20%;
}

/*Design*/
div.container{
display: flex;
flex-wrap: wrap;
}

div.page{
    height: 100vh;
    overflow: scroll;
}

div.body{
    margin-left: 100px;
}

div.side{
    margin-left: auto;
}

div.middle{
    margin-left: auto;
    margin-right: auto;
}

div.title{
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

div.p5{
    padding: 5px;
}

div.mt50{
    margin-top: 50px;
}

div.mb50{
    margin-bottom: 50px;
}