/*Typefaces*/
@font-face {
    src:url("denk-one.woff");
    font-family: "denk";
}

@font-face {
    src:url("tahoma-bold.woff");
    font-family: "tahoma";
}

body{
    background-color: black;
}

/*Fonts*/
div.largesttext{
    font-family: "denk";
    font-size: 120px;
    text-align: center;
}

div.largetext{
    font-family: "tahoma";
    font-size: 60px;
    text-align: center;
}

div.mediumtext{
    font-family: "denk";
    font-size: 40px;
    text-align: center;
}

div.smalltext{
    font-family: "tahoma";
    font-size: 30px;
    text-align: center;
}

div.showing{
    font-family: "tahoma";
    font-size: 25px;
}

div.description{
    font-family: "tahoma";
    font-size: 12px;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

/*Colours*/
div.darkblue{
    color: #0000FE;
}

div.blue{
    color: #08FEFF;
}

div.green{
    color: #02FF00;
}

div.red{
    color: #FE0505;
}

div.pink{
    color: #FF00FF;
}

div.yellow{
    color: #FFFF05;
}

/*Layout*/
div.width33{
    width: 33.333%; 
}

div.width66{
    width: 66.666%; 
}

div.width99{
    width: 100%; 
}

/* Margins */
div.bottom-small{
    margin-bottom: 50px;
}

div.bottom-large{
    margin-bottom: 100px;
}


/* Alignment */
div.centre{
    text-align: center;
}

/* Containers */
div.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

div.card{
    width: 30%;
    text-align: center;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Arrows */
.arrow {
    font-size: 30px;
    color: #4CAF50;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.left-arrow {
    left: 150px;
}
  
.right-arrow {
    right: 150px;
}

/* Images */
div.card img {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

img {
    width: 600px;
    height: auto;
    display: block;
}


div.logo img {
    width: 100px;
    max-height: 100px;
}

/* marquee */
@keyframes marquee {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }

.marquee-container {
    background-color: #FE0505;
    color: #F0FFE0;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    padding: 20px 0;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    overflow: hidden;
}

div.marquee {
    font-family: "tahoma";
    top: 0;
    left: 100%;
    width: 100%;
    position: absolute;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

/* TV guide */
div.title{
    font-family: "tahoma";
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

div.subheadings{
    font-family: "tahoma";
    font-size: 35px;
}

div.tvguide{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #00FF00;
}

div.table {
    width: 100%;
    border-collapse: collapse;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

div.row{
    font-family: "tahoma";
    font-size: 35px;
    font-weight: bolder;
    color: #FFFF05;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

div.mins{
    background-color:#02FF00;
}

div.hour{
    background-color: #FF00FF;
}
